@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap";
 :root {
   --clr-black:#222;
   --clr-green-dark:hsl(125, 67%, 44%);
   --clr-green-light:hsl(125, 71%, 66%);
   --clr-grey-1:hsl(209, 61%, 16%);
   --clr-grey-10:hsl(210, 36%, 96%);
   --clr-grey-2:hsl(211, 39%, 23%);
   --clr-grey-3:hsl(209, 34%, 30%);
   --clr-grey-4:hsl(209, 28%, 39%);
   --clr-grey-5:hsl(210, 22%, 49%);
   --clr-grey-6:hsl(209, 23%, 60%);
   --clr-grey-7:hsl(211, 27%, 70%);
   --clr-grey-8:hsl(210, 31%, 80%);
   --clr-grey-9:hsl(212, 33%, 89%);
   --clr-primary-1:hsl(205, 86%, 17%);
   --clr-primary-10:hsl(205, 100%, 96%);
   --clr-primary-2:hsl(205, 77%, 27%);
   --clr-primary-3:hsl(205, 72%, 37%);
   --clr-primary-4:hsl(205, 63%, 48%);
   --clr-primary-5:hsl(205, 78%, 60%);
   --clr-primary-6:hsl(205, 89%, 70%);
   --clr-primary-7:hsl(205, 90%, 76%);
   --clr-primary-8:hsl(205, 86%, 81%);
   --clr-primary-9:hsl(205, 90%, 88%);
   --clr-red-dark:hsl(360, 67%, 44%);
   --clr-red-light:hsl(360, 71%, 66%);
   --clr-white:#fff;
   --dark-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
   --ff-primary:"Roboto", sans-serif;
   --ff-secondary:"Open Sans", sans-serif;
   --fixed-width:620px;
   --light-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
   --max-width:1170px;
   --radius:0.25rem;
   --spacing:0.1rem;
   --transition:all 0.3s linear;
 }
 *, ::after, ::before {
   box-sizing:border-box;
   margin:0;
   padding:0;
 }
 body {
   background:var(--clr-grey-10);
   color:var(--clr-grey-1);
   font-family:var(--ff-secondary);
   font-size:0.875rem;
   line-height:1.5;
 }
 ul {
   list-style-type:none;
 }
 a {
   text-decoration:none;
 }
 h1, h2, h3, h4 {
   font-family:var(--ff-primary);
   letter-spacing:var(--spacing);
   line-height:1.25;
   margin-bottom:0.75rem;
   text-transform:capitalize;
 }
 h1 {
   font-size:3rem;
 }
 h2 {
   font-size:2rem;
 }
 h3 {
   font-size:1.25rem;
 }
 h4 {
   font-size:0.875rem;
 }
 p {
   color:var(--clr-grey-5);
   margin-bottom:1.25rem;
 }
 h1 {
   font-size:4rem;
 }
 h2 {
   font-size:2.5rem;
 }
 h3 {
   font-size:1.75rem;
 }
 h4 {
   font-size:1rem;
 }
 body {
   font-size:1rem;
 }
 h1, h2, h3, h4 {
   line-height:1;
 }
 .section {
   padding:5rem 0;
 }
 .section-center {
   margin:0 auto;
   max-width:1170px;
   width:90vw;
 }
 .section-center {
   width:95vw;
 }
 main {
   display:grid;
   min-height:100vh;
   place-items:center;
 }
 nav {
   align-items:center;
   background:var(--clr-white);
   box-shadow:var(--dark-shadow);
   display:grid;
   height:3rem;
 }
 .nav-center {
   align-items:center;
   display:flex;
   justify-content:space-between;
   margin:0 auto;
   max-width:var(--fixed-width);
   width:90vw;
 }
 .nav-center h4 {
   color:var(--clr-primary-5);
   margin-bottom:0;
 }
 .nav-links {
   display:flex;
 }
 nav a {
   color:var(--clr-primary-1);
   font-size:1rem;
   font-weight:700;
   letter-spacing:var(--spacing);
   margin-right:1rem;
   text-transform:capitalize;
 }
 nav a:hover {
   color:var(--clr-primary-5);
 }
 main {
   display:grid;
   min-height:calc(100vh - 3rem);
   place-items:center;
 }
 .container {
   text-align:center;
 }
 .container h2 {
   background:var(--clr-black);
   border-radius:var(--radius);
   color:var(--clr-white);
   margin-bottom:2.5rem;
   padding:1rem;
 }
 .color {
   color:var(--clr-primary-5);
 }
 .btn-hero {
   background:transparent;
   border:2px solid var(--clr-black);
   border-radius:var(--radius);
   box-shadow:rgba(0, 0, 0, 0.2) 0 1px 3px;
   color:var(--clr-black);
   cursor:pointer;
   display:inline-block;
   font-family:var(--ff-primary);
   font-size:1rem;
   font-weight:700;
   letter-spacing:var(--spacing);
   padding:0.75rem 1.25rem;
   text-transform:uppercase;
   transition:var(--transition);
 }
 .btn-hero:hover {
   background:var(--clr-black);
   color:var(--clr-white);
 }
 